<!DOCTYPE html>
<html>
<head>
  <title>Weekly Admin</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="<%= is_active?('admin/admin_users')%>">
          <%= link_to "管理管理员", admin_admin_users_path %>
        </li>
        <li class="<%= is_active?('admin/collectives')%>">
          <%= link_to "管理文摘", admin_collectives_path %>
        </li>
      </ul>
      <% if admin_user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <%= link_to current_admin_user.email, edit_admin_user_registration_path %>
          </li>
          <li>
          <%= link_to "注销", destroy_admin_user_session_path, method: "delete" %>
          </li>
        </ul>
      <% end %>
      </nav>
    </div>
  </header>
  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
