<!DOCTYPE html>
<html>
<head>
  <title>Weekly</title>
  <meta name="viewport" content="minimal-ui user-scalable=no, width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "widgets/nav" %>
  <section class="main <%= yield :layout_extra_class %>">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </section>
  <footer>
    <div class="footer-inner">
      <copyright>© 2014 文摘</copyright>
    </div>
  </footer>
</body>
</html>
