<!DOCTYPE html>
<html>
<head>
  <title>Weekly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "widgets/nav" %>
  <section class="main">
    <%= yield %>
  </section>
  <footer>
    <div class="footer-inner">
      <copyright>© 2014 文摘</copyright>
    </div>
  </footer>
</body>
</html>
